<!DOCTYPE html>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Display</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<nav>
    <ul>
    <li><a class="active" href="index.html">Home</a></li>
        <li><a class="active" href="single-analysis.html">Topic Analysis</a></li>
        <li><a class="active" href="dual-analysis.html">2-Topic Analysis</a></li>
    </ul>
</nav>
<figure class="highcharts-figure">
    <h1>{{ title }}</h1>

    <div id="container"></div>
</figure>
<script>
    Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'bar-chart'
    },
    title: {
        text: '{{ discription_text }}'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: '{{ chart_name }}',
        colorByPoint: true,
        data: {{ data | safe }}
    }]
});
</script>
</body>
<footer>
    <p>Website by Tara Da Silva and Roisin Brady</p>
</footer>
</html>