<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Data Display</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<nav>
    <ul>
    <li><a class="active" href="index.html">Home</a></li>
        <li><a class="active" href="single-analysis.html">Topic Analysis</a></li>
        <li><a class="active" href="dual-analysis.html">2-Topic Analysis</a></li>
    </ul>
</nav>
<figure class="highcharts-figure">
    <h1>Data Visualisation Chart</h1>

    <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    <div style="max-width: 800px; margin: 0 auto"></div>
</figure>
<script src="https://rawgit.com/mholt/PapaParse/master/papaparse.js"></script>
<script src="./columns.js"></script>
</body>
<footer>
    <p>Website by Tara Da Silva and Roisin Brady</p>
</footer>
</html>