<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    <ul>
    <li><a class="active" href="index.html">Home</a></li>
    <li><a href="chart-display.html">Data Chart</a></li>
    </ul>
</nav>
<h1>Data Visualisation</h1>
<p>Example text.</p>
<button><a href="single-analysis.html">Single Topic Analysis</a></button><br>
<button><a href="dual-analysis.html">Dual Topic Analysis</a></button><br>
<button><a href="chart-display.html">Chart Display</a></button>
</body>
<footer>
    <p>Website by Tara Da Silva and Roisin Brady</p>
</footer>
</html>