<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<nav>
    <ul>
    <li><a class="active" href="index.html">Home</a></li>
    </ul>
</nav>
<h1>Data Visualisation</h1>
<p>Welcome to our data visualization website.
    Here you'll find sentiment analysis of curated tweets on a particular topic, compiled using tweepy and
    analysed with VADER.</p>
    <p><br>Click on any of the buttons below to get started.</p>
<button class="button"><a href="single-analysis.html">Single Topic Analysis</a></button><br>
<button class="button"><a href="dual-analysis.html">Dual Topic Analysis</a></button><br>
<button class="button"><a href="chart-display.html">Chart Display</a></button>
</body>
<footer>
    <p>Website by Tara Da Silva and Roisin Brady</p>
</footer>
</html>
